# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы окружения
.env

# Игнорировать дампы базы данных
.dump

# Игнорировать логи
*.log

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать зависимости npm/yarn
package-lock.json
yarn.lock

# Игнорировать скомпилированные файлы
dist/
build/

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать системные файлы
.DS_Store
Thumbs.db